@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --Soft-red: #ec775f;
    --Cyan: #76b5bc;

    --Dark-brown: #382314;
    --Medium-brown: #93867b;
    --Cream: #f8e9dd;
    --Very-pale-orange: #fffaf5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Cream);
    font-family: 'DM Sans', sans-serif;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Soft-red);
    padding: 20px;
    border-radius: 10px;
}

.container>.header .title p,
.container>.header .title h3 {
    color: var(--Very-pale-orange);
}

.container>.header .title p {
    font-size: 14px;
}

.container>.header img {
    width: 60px;
}

.container .main {
    padding: 20px;
    background-color: var(--Very-pale-orange);
    border-radius: 10px;
    color: var(--Dark-brown);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: var(--Cream);
    margin-block: 10px;
}

.container .main .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .main .footer p {
    font-size: 14px;
    color: var(--Medium-brown);
}

.container .main .footer .adds {
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media (max-width: 480px) {
    .container{
        width: 90%;
    }
}

.chart-container {
    position: relative;
}

.custom-tooltip {
    display: none;
    position: absolute;
    top: 0;
    background-color: #382314;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1;
}

.custom-tooltip {
    position: absolute;
    top: 0;
    background-color: #382314;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1;
}